.bg-container {
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  padding: 120px;
  border-radius: 10px;
  border-width: 0px;
}
.heading {
  color: white;
  font-family: Roboto;
  font-size: 36px;
}
.button {
  height: 30px;
  width: 80px;
  font-family: Roboto;
  border-radius: 10px;
  border-width: 0px;
}
